{block content}
<h1 n:block=title class="header center red-text thin-font">{$project['title']}</h1>

<div class="row center">
    <h5 class="header col s12 white-text">{$project['content']}</h5>
</div>